@font-face{font-family:Norse-Bold;font-weight:bold; src:url(assets/Norse-Bold.otf)};

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    display:flex;
    justify-content:center;
    margin-left:30vh;
    margin-right:30vh;
    background-color:black;
}
.text-logo{
    font-family:Norse-Bold;
    font-size:5rem;
    color:white;
    margin-left: 0;
}
img{
    width:100px;
    height:104px;
}
.logo-background{  
    margin:0;  
    display: flex;
    align-items: center;
    justify-content:center;
    background-color:transparent;
    color:rgb(12, 4, 4);
    width:50vh;
    height:18vh;
 }
.left-section{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:300px;
    background-image:url("assets/background.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    object-fit:cover;
    z-index:-1;
}
.right-section{
    
    width:900px;
    height:100vh;
    background-color:white;

}
p,h5,h3{
    margin-left:2.5rem;
}

a{
    text-decoration: none;
    color: #596D48;
    font-weight:bold;
}
.info-section{
    font-family: sans-serif;
    border:1px solid  rgb(247, 244, 244);
    background-color: rgb(247, 244, 244);
    color:black;
    font-weight: bold;
}
.form-section{
   height:250px;
}
form{
    display:flex;
    justify-content: center;
    align-items: center;
    column-gap:1rem;
}
input{
    border:1px solid #E5E7E8;
    border-radius:3px;
    height:1.5rem;
    margin-bottom:1rem;
    margin-left:2.5rem;
}
label{
    font-family:Roboto,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,Georgia, 'Times New Roman', Times, serif;
    margin-left:2.5rem;
}
button{
    cursor:pointer;
    margin-top:0.8rem;
    margin-left:2.5rem;
    margin-bottom:0.5rem;
    background-color:#596D48;
    border:1px solid #596D48;
    border-radius:2.5px;
    color:white;
    font-weight:bold;
    font-size:10pxrem;
    height:30px;
    width:7rem;
}
button:hover{
    background-color:#81ba4f;;
}
.creat-account-section{
    height:148px;
    border:1px solid rgb(247, 244, 244);
    background-color: rgb(247, 244, 244);
}
#error-space{
    font-size:0.5rem;
    color:red;
}
